//output:nav-auth.html
link(href="/css/header.min.css" rel="stylesheet")
div.header-items
  div.left
    a(href="/")
      p MiniURL
  div.right
    a(href="/user")
      p {{uname}}
    a(href="/logout")
      p Logout
