//output:nav-unauth.html
link(href="/css/header.min.css" rel="stylesheet")
div.header-items
  div.left
    a(href="/")
      p MiniURL
  div.right
    a(href="/login")
      p Login
    a(href="/register")
      p Register
