//output:login.html

html
  head
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="/js/login.js")
    link(href="/css/login.min.css" rel="stylesheet")
    title Log In to Your MiniURL Account
  body
    div.reg-form
      input(type="text" placeholder="username").form-object#username
      input(type="text" placeholder="password").form-object#password
      div.form-object#submit login
